* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  background-image: url(../image/backgrd\ img.jpg);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
}
